<tr>

	<td>{{name}}</td>

	<td>
		THX1138-{{id}}
	</td>

	<td>
		<a href="/menu/{{id}}">
			This Chef's Burgers
		</a>
	</td>

	<td>
		<a href="/create/?chef_id={{id}}">
			Create a Burger
		</a>
	</td>

	<td>
		<a style='cursor:pointer;color:red' class='fired' data-chef_id="{{id}}">
			Fire this Chef
		</a>
	</td>

</tr>

