<li class="container-fluid">
	{{burger_name}}
	<button class="change-devour btn btn-outline-warning" data-burger_id="{{id}}" data-changestate={{#if devoured}}"false"{{else}}"true"{{/if}}>
		{{#unless devoured}}EAT THIS BURGER!{{else}}Dream this Burger back into Existence!{{/unless}}
	</button>
	<button class="baku-delete btn btn-outline-dark" data-burger_id="{{id}}">
		Feed to the Baku
	</button>

</li>
 